[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
django = {extras = ["bcrypt"],version = "*"}
python-decouple = "*"
django-environ = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-compressor = "*"
pillow = "*"

[requires]
python_version = "3.6"
